{% block body %}

    {% include 'header.html.twig' %}

    <div class="card" style="max-width: 80%; margin: auto;">
        <div class="card-body">
            <h4 class="card-title">Portefeuille</h4>
            <p class="card-text">Votre solde est de {{ solde.soldePortefeuille }} €</p>
            <form method="post" action="{{ path('app_compte') }}">
                <div class="form-group">
                    <label class="form-label mt-4">Montant</label>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" name="montant" step="0.01" aria-label="montant">
                            <span class="input-group-text">
                                <select class="form-select" name="devise" id="devise">
                                    <option value="EUR">€</option>
                                    <option value="USD">$</option>
                                    <option value="GBP">£</option>
                                    <option value="JPY">¥</option>
                                    <option value="CHF">CHF</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-hover" style="max-width: 80%; margin: 50px auto;">
        <thead>
            <tr>
                <th scope="col">Chambre</th>
                <th scope="col">Date de réservation</th>
                <th scope="col">Nombre(s) de nuits(s)</th>
                <th scope="col">Statut</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in userReservations %}
                <tr>
                    <th scope="row">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{ reservation.chambre.categorie }}</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Capacité de la chambre : {{ reservation.chambre.capacite }}</h6>
                                <p class="card-text">{{ reservation.chambre.caracteristiques }}</p>
                            </div>
                        </div>
                    </th>
                    <td>{{ reservation.dateCheckin|date('d-m-Y') }}</td>
                    <td>{{ reservation.nombreNuits }}</td>
                    <td>{{ reservation.statut }}</td>
                    {% if reservation.statut != 'Confirmé' %}
                        <td>
                            <form method="post" action="{{ path('app_confirm_reservation', {'id': reservation.id}) }}">
                                <button type="submit" class="btn btn-primary w-100">Confirmer</button>
                            </form>
                            <form method="post" action="{{ path('app_remove_reservation', {'id': reservation.id}) }}">
                                <button type="submit" class="btn btn-primary w-100">Annuler</button>
                            </form>
                        </td>
                    {% else %}
                        <td>
                            <form method="post" action="{{ path('app_remove_reservation', {'id': reservation.id}) }}">
                                <button type="submit" class="btn btn-primary w-100">Annuler</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
